### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data= pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Purchasing Analysis (Total)

## Player Count

In [2]:
number_players = len(purchase_data["SN"].unique())
Number_Pruchase =len(purchase_data["Purchase ID"].unique())
average_price = round(purchase_data["Price"].sum()/float(Number_Pruchase),2)
total_Renevue = purchase_data["Price"].sum()
Number_of_unique_Items= len(purchase_data["Item ID"].unique())
df = pd.DataFrame({"Number Unique Item":[Number_of_unique_Items],
                   "Total Revenu":[total_Renevue],
                   "Number Pruchase":[Number_Pruchase],
                  "Player Count":[number_players],
                  "Average Price":[average_price]})
df

,Number Unique Item,Total Revenu,Number Pruchase,Player Count,Average Price
0,183,2379.77,780,576,3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [3]:
M_df =purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_count = len(M_df["SN"].unique())
f_df =purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_count = len(f_df["SN"].unique())
O_df =purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
Other_count = len(O_df["SN"].unique())
total_num_gen=female_count + male_count + Other_count
per_male= (male_count/total_num_gen)*100
per_female= (female_count/total_num_gen)*100
per_Other= (Other_count/total_num_gen)*100
print("Male ", male_count)
print("Female ", female_count)
print("Other ", Other_count)
gen_table = pd.DataFrame({" ": ["Total Count", "Percentage of Players"] ,"Male": [male_count, round(per_male,2)],
                             "Female":[female_count, round(per_female,2)],
                             "Other":[Other_count,round(per_Other, 2)]})
df1_ = gen_table.T

df1_

Male  484
Female  81
Other  11

                  0                      1
        Total Count  Percentage of Players
Male            484                  84.03
Female           81                  14.06
Other            11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
columns =["SN","Age","Gender","Item ID","Item name","Price"]

m_df = purchase_data.loc[purchase_data["Gender"] == "Male",  columns]
m_purchase_count=len(m_df["SN"])
male_count = len(m_df["SN"].unique())
each_av_m= m_df["Price"].sum() / male_count

f_df =purchase_data.loc[purchase_data["Gender"] == "Female",  columns]
f_purchase_count=len(f_df["SN"])
female_count = len(f_df["SN"].unique())
each_av_f= f_df["Price"].sum() / female_count

o_df =purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", columns]
o_purchase_count=len(o_df["SN"])
other_count = len(o_df["SN"].unique())
each_av_o= o_df["Price"].sum() / other_count

total_num_gen=female_count + male_count + other_count
per_male=male_count/total_num_gen
per_female=female_count/total_num_gen
per_other=other_count/total_num_gen

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [5]:
frame_df = pd.DataFrame({
   " ": ["Purchase Count ", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"],
   "Male": [m_purchase_count, round(m_df["Price"].mean(),2), round(m_df["Price"].sum(),2), round(each_av_m,2)],
   "Female": [f_purchase_count, round(f_df["Price"].mean(),2), round(f_df["Price"].sum(),2),round(each_av_f,2)],
   "Other": [o_purchase_count, round(o_df["Price"].mean(),2), round(o_df["Price"].sum(),2), round(each_av_o,2)]
})
frame_df
frame_df.T

,0,1,2,3
,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.02,1967.64,4.07
Female,113,3.2,361.94,4.47
Other,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins_age = [0, 15, 20, 25, 30, 39, 40 ]
age_ranges = ["0 to 14","15 to 20","21 to 25","26 to 30","31 to 39","40 to 45"]
pd.cut(purchase_data["Age"],bins_age , labels=age_ranges).head()

0    15 to 20
1    40 to 45
2    21 to 25
3    21 to 25
4    21 to 25
Name: Age, dtype: category
Categories (6, object): [0 to 14 < 15 to 20 < 21 to 25 < 26 to 30 < 31 to 39 < 40 to 45]

In [7]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins_age, labels= age_ranges)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15 to 20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 to 45
2,2,Ithergue48,24,Male,92,Final Critic,4.88,21 to 25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,21 to 25
4,4,Iskosia90,23,Male,131,Fury,1.44,21 to 25

In [8]:
age_group_percentage_df = round(purchase_data["Age Range"].value_counts()/780,2)*100
age_group_df =purchase_data["Age Range"].value_counts()
ageSummary = pd.DataFrame({ "Percentage Of Players" : age_group_percentage_df, "Total Count" : age_group_df })
ageSummary["Percentage Of Players"] = ageSummary["Percentage Of Players"].map("{:,.2f}%".format)
ageSummary.sort_index()

         Percentage Of Players  Total Count
0 to 14                 11.00%           86
15 to 20                26.00%          200
21 to 25                42.00%          325
26 to 30                10.00%           77
31 to 39                10.00%           79
40 to 45                 1.00%            6

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
age_group_count_df = purchase_data.groupby("Age Range")["Item Name"]
age_group_total_df = purchase_data.groupby("Age Range")["Price"].sum()
age_group_average_df = purchase_data.groupby("Age Range")["Price"].mean()
normalized_age_total_df = age_group_total_df/573
age_range = pd.DataFrame({"Purchase Count":age_group_count_df,
                            "Average Purchase Price":age_group_average_df,
                            "Total Purchase Value": age_group_total_df,
                            "Normalized Totals": normalized_age_total_df
})
age_range

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Range,,,,
0 to 14,"(0 to 14, [Demise, Blood-Forged Skeletal Spine...",3.087907,265.56,0.463455
15 to 20,"(15 to 20, [Extraction, Quickblade Of Tremblin...",3.107800,621.56,1.084747
21 to 25,"(21 to 25, [Final Critic, Blindscythe, Fury, D...",3.020431,981.64,1.713159
26 to 30,"(26 to 30, [Blazefury, Protector of Delusions,...",2.875584,221.42,0.386422
31 to 39,"(31 to 39, [Interrogator, Blood Blade of the Q...",3.181646,251.35,0.438656
40 to 45,"(40 to 45, [Frenzied Scimitar, Severance, Hear...",2.785000,16.71,0.029162

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
players_purchase_count_df = purchase_data.groupby("SN").count()["Price"].rename("Purchase Count")
players_average_price_df = purchase_data.groupby("SN").mean()["Price"].rename("Average Purchase Price")
players_total_df = purchase_data.groupby("SN").sum()["Price"].rename("Total Purchase Value")

#Convert to DataFrame.

total_user_data_df = pd.DataFrame({"Purchase Count":players_purchase_count_df,
                                   "Average Purchase Price": players_average_price_df,
                                   "Total Purchase Value": players_total_df})
total_user_data_df.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

In [11]:
top_five_spenders = total_user_data_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [13]:
items_purchase_count_df = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price_df = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total_df = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# Convert to DataFrame

items_purchased_df = pd.DataFrame({"Purchase Count":items_purchase_count_df,
                                   "Item Price":items_average_price_df,
                                   "Total Purchase Value":items_value_total_df,})

items_purchased_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

## Most Popular Items

In [14]:
most_popular_items_df = items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

In [15]:
most_profitable_items_df = items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80