### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data= pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Purchasing Analysis (Total)

## Player Count

In [2]:
number_players = len(purchase_data["SN"].unique())
Number_Pruchase =len(purchase_data["Purchase ID"].unique())
average_price = round(purchase_data["Price"].sum()/float(Number_Pruchase),2)
total_Renevue = purchase_data["Price"].sum()
Number_of_unique_Items= len(purchase_data["Item ID"].unique())
df = pd.DataFrame({"Number Unique Item":[Number_of_unique_Items],
                   "Total Revenu":[total_Renevue],
                   "Number Pruchase":[Number_Pruchase],
                  "Player Count":[number_players],
                  "Average Price":[average_price]})
df

,Number Unique Item,Total Revenu,Number Pruchase,Player Count,Average Price
0,183,2379.77,780,576,3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [3]:
M_df =purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_count = len(M_df["SN"].unique())
f_df =purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_count = len(f_df["SN"].unique())
O_df =purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
Other_count = len(O_df["SN"].unique())
total_num_gen=female_count + male_count + Other_count
per_male= (male_count/total_num_gen)*100
per_female= (female_count/total_num_gen)*100
per_Other= (Other_count/total_num_gen)*100
print("Male ", male_count)
print("Female ", female_count)
print("Other ", Other_count)
gen_table = pd.DataFrame({" ": ["Total Count", "Percentage of Players"] ,"Male": [male_count, round(per_male,2)],
                             "Female":[female_count, round(per_female,2)],
                             "Other":[Other_count,round(per_Other, 2)]})
df1_ = gen_table.T

df1_

Male  484
Female  81
Other  11

                  0                      1
        Total Count  Percentage of Players
Male            484                  84.03
Female           81                  14.06
Other            11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
columns =["SN","Age","Gender","Item ID","Item name","Price"]

m_df = purchase_data.loc[purchase_data["Gender"] == "Male",  columns]
m_purchase_count=len(m_df["SN"])
male_count = len(m_df["SN"].unique())
each_av_m= m_df["Price"].sum() / male_count

f_df =purchase_data.loc[purchase_data["Gender"] == "Female",  columns]
f_purchase_count=len(f_df["SN"])
female_count = len(f_df["SN"].unique())
each_av_f= f_df["Price"].sum() / female_count

o_df =purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", columns]
o_purchase_count=len(o_df["SN"])
other_count = len(o_df["SN"].unique())
each_av_o= o_df["Price"].sum() / other_count

total_num_gen=female_count + male_count + other_count
per_male=male_count/total_num_gen
per_female=female_count/total_num_gen
per_other=other_count/total_num_gen

In [23]:
frame_df = pd.DataFrame({
   " ": ["Purchase Count ", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"],
   "Male": [m_purchase_count, round(m_df["Price"].mean(),2), round(m_df["Price"].sum(),2), round(each_av_m,2)],
   "Female": [f_purchase_count, round(f_df["Price"].mean(),2), round(f_df["Price"].sum(),2),round(each_av_f,2)],
   "Other": [o_purchase_count, round(o_df["Price"].mean(),2), round(o_df["Price"].sum(),2), round(each_av_o,2)]
})
frame_df
frame_df.T

,0,1,2,3
,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.02,1967.64,4.07
Female,113,3.2,361.94,4.47
Other,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
bins_age = [0, 15, 20, 25, 30, 39, 40 ]
age_ranges = ["0 to 14","15 to 20","21 to 25","26 to 30","31 to 39","40 to 45"]
pd.cut(purchase_data["Age"],bins_age , labels=age_ranges).head()

0    15 to 20
1    40 to 45
2    21 to 25
3    21 to 25
4    21 to 25
Name: Age, dtype: category
Categories (6, object): [0 to 14 < 15 to 20 < 21 to 25 < 26 to 30 < 31 to 39 < 40 to 45]

In [19]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins_age, labels= age_ranges)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15 to 20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 to 45
2,2,Ithergue48,24,Male,92,Final Critic,4.88,21 to 25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,21 to 25
4,4,Iskosia90,23,Male,131,Fury,1.44,21 to 25

In [37]:
age_group_percentage_df = round(purchase_data["Age Range"].value_counts()/780,2)*100
age_group_percentage_df
age_group_df =purchase_data["Age Range"].value_counts()
age_group_df

21 to 25    325
15 to 20    200
0 to 14      86
31 to 39     79
26 to 30     77
40 to 45      6
Name: Age Range, dtype: int64

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Purchasing Analysis (Age)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame