### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
# Total Number of Players
total = purchase_data_pd["SN"].sum()
total

'Lisim78Lisovynya38Ithergue48Chamassasya86Iskosia90Yalae81Itheria73Iskjaskst81Undjask33Chanosian48Inguron55Haisrisuir60Saelaephos52Assjaskan73Saesrideu94Lisassa64Lisirra25Zontibe81Reunasu60Chamalo71Iathenudil29Phiarithdeu40Siarithria38Eyrian71Siala43Lisirra87Lirtossa84Eusri44Aela59Tyida79Idai61Farusrian86Aeralria27Haillyrgue51Sondim73Jeyciman68Idaisuir85Seuthep89Reulae52Sondilsaya62Aerithriaphos45Assosia88Aidaillodeu39Aelly27Tyeosri53Haerith37Yasrisu92Chanuchi25Asur96Iaralrgue74Saelaephos52Chanosia34Aelin32Ilosianya35Zhisrisu83Phaelap26Raesty92Palyon91Tyisur83Yaliru88Yadanu52Jiskimya77Yadaphos40Alo38Phaena87Chamirraya83Chanastsda67Lisim78Indonmol95Jiskossa61Pheodai94Hari50Marilsa69Assistasda42Lisosia93Philodil43Mindadaran26Lirtosia63Haillyrgue51Assjaskan56Irithlis29Heudai45Haerithp41Aina42Jiskjask60Umolrian85Qarirwen82Aelin32Laedallo55Eoralrap26Undosian34Chadolyla44Chadistaya75Yathedeu43Aina43Ilassast39Lisassala98Aiduecal76Chadossa89Haisrisuir60Pheodaisun84Heollyriap59Maropast28Frichim77Thryallym62Eulanurin88Lassjaskan73Tyaerith73Sondadarya58Hirirap39Ririp86Sundim98Iskichinya81Phyali88Undirrala66Nitherian58Lassilsala30Frichaststa61Pheodaisun84Frichosia58Lisosia93Ilosia37Lisista27Seudaillorap38Aesty53Yathecal82Frichim77Lisossanya98Iral74Lisast87Maridisya31Jiskassa76Inguron55Phaena87Phyali88Ethriel85Iskirra45Iri67Rarallo90Lisasi93Hari50Zhisrisu83Adastirin33Eyista89Ili43Chamirra53Aidaillodeu39Hailaphos89Iskadarya95Qilatista90Inasti31Marilsanya48Marjask87Chanjaskan89Hyaduesu61Aillyrin83Eyrian71Marast30Sundadar27Tyaelorap29Lirtimst73Iri67Styaduen40Sidap51Chanastst38Lirtassa52Sondim68Aeral97Iskjaskst81Heosurnuru52Lisopela58Caesrinusuir82Tyirinu79Fironon91Lassjask63Indcil77Chamimla73Syathe73Baelollodeu94Mindista32Saena74Marirrasta50Lamil79Aenarap34Aisur51Thrientossa55Chadista79Tyeurith29Malunil62Hiasri33Lisadar44Frichjask31Lisjaskya84Ristydru66Frichast28Minduri31Maradaran90Mindetosya30Chadolyla44Ialallo29Pheusrical25Chanosia60Phistym51Aelollo59Chamimla85Jiskimya77Haisurra41Sondastsda82Qilanrion65Eulasuir89Umolrian85Eosrirgue62Shaidanu32Lirtastan49Iaralsuir44Ialallo29Tyeudariasuir90Cosadar58Aelastirin39Aidai53Jiskjask85Ealrion88Chamjask73Undirrala66Lisosia93Tyaenasti87Alim85Haeladil46Jiskirran77Undosia27Peorith44Yarithsurgue62Sundadar27Taeduenu92Chamimla85Rairin89Aerithriaphos46Idairin51Lisista54Eodailis27Lirtastsda29Undilsan50Eodaisu60Quaranmol58Lirtossa60Lisim78Lirtilsa71Iskadarya95Isursuir31Sundirrala66Saerallora71Iasur80Tyaelo67Aesty53Quanunwen42Sondastsda82Chamirra53Yasur35Assehoan67Haellysu29Saida58Tyeosri53Chamadar79Aeral43Saesrideu94Lirtirra37Siala43Tyidaim51Inasti31Lassassast73Assassasta79Heollyra92Anallorgue57Phyali88Aerithllora36Smaistysu35Tyidaim51Ennalmol65Iskichinya81Yarithrgue83Yana46Sondimla25Aidai61Wailin72Firan91Alaesu91Aellynun67Rilaera56Eulaestira36Marim28Idastidru52Idairin51Lisasi93Lisopela58Ilirrasda54Alaephos75Syalollorap93Heosurnuru52Minduli80Lirtossa84Chanastya70Frichadaran88Siallylis44Aeri84Iasursti71Siallylis44Mindilsa34Chamastya76Undirra73Aestysu37Chadadarla74Anallorgue57Strithenu87Iasrira89Ialidru40Tyisur83Tyalaesu89Tyidainu31Iskadarya95Rarallo90Lirtilsa72Undjaskla97Saedaiphos46Tyisur83Aerithnucal56Hiasri33Lisossa46Layjask75Lisista63Ceoral34Hilaerin92Chadilsasta32Undassa89Iduenu77Lisosia66Undimsya85Phaedue89Yadacal26Lisossa25Ilmol66Yastyriaphos75Hiasurria41Palatyon26Chadilsasta32Qilalista41Hada39Saedaiphos46Chamilsala65Eulaestira36Sundirrala66Rairith81Assistasda42Ilarin91Ryanara76Undista85Tyeoralru41Pheosrinudeu70Heuli25Pheutherin27Chadirra90Ali84Frichjaskan98Malil90Aina42Yarithllodeu72Tyaedainu44Hirirap39Eodailis27Ethron58Heuli25Idai61Eusurdeu49Saistyphos30Aina42Saisrilis27Hallysucal81Ilimya66Raysistast71Haedairiadru51Tyananurgue44Risty84Aerillorin70Phistyn52Yalo85Chamirrasya33Hiral75Isursti83Bartassaya73Aeda94Quinarap53Asur53Alarap40Sida61Hiarideu73Lassassasda30Ennoncil86Siralsudeu54Eusri26Ardcil81Marilsasya33Ilarin91Lirtim36Heunadil74Frichadar89Chamirrasya33Aesurstilis64Idaidil28Idai61Raesty92Lisotesta51Strithenu87Lisico81Lisiriya82Siana77Marokian45Sausosia74Aestysu37Pheodaisun84Marim28Iaralrgue74Assesi91Yadaphos40Eusri70Aisurria69Iarilis73Raisty38Ilista82Leyirra83Aelly27Aiduesu86Frichynde86Aelollo59Hisridru55Chamossa77Irillo49Lirtastsya71Umolrian85Frichosiala98Qilunan34Quarrion42Aisurdru79Hiaral50Zontibe81Iarallo65Sondassasya91Phaelap26Chanossast57Yalae81Chanjask65Ethralista69Sondistanya61Eudanu32Marilsasya33Euthe35Lassimla92Lisossala30Phaena87Eulae84Chamadarnya73Eolan54Assistasda90Ennrian78Undirrasta89Frichadaran88Rianistast50Sondastsda82Undare39Adairialis76Aesur96Tyialisudeu65Arirgue63Sundadarla27Lisopela58Eyircil84Ina92Lirtistanya48Marassa62Mindossa76Sondim68Chanjaskan89Salilis27Sondossa69Sundjask71Saistyphos30Chanosian48Errian63Eurithphos97Raillydeu47Malon70Jiskimsda56Idastidru52Marughi89Ingatcil75Chanirrasta87Alaesu77Ermol76Tyeuduen32Yadacal26Firon67Iadueria43Pheulidil31Eodairu79Frichocesta66Iaralsuir44Chamilsala65Thourdirra92Chadista79Chanastnya43Iskim96Inguron55Eulolis41Lassilsala30Sastydeu50Ilaesudil92Yasur85Haillyrgue51Aidain51Aerithnuphos61Yalostiphos68Eusri70Chamjask73Phistym51Meosridil82Aillyriadru65Sally64Lirtimst73Ilosia37Lisim51Isurria36Silaera56Leetirraya83Lirtirra81Eryon48Hada39Iana95Siralsudeu54Siallylis44Sondassan80Chanadar44Eosurdru76Shidai42Aesri53Syally44Idastidru52Ardcil81Jiskadarst60Sondadar26Malarrian73Yathecal82Maluncil97Ilunyon70Iri67Hiaral50Yadam35Dyally87Pheosurllorin41Frichocesta66Frichaya88Lassadarsda57Iasrira89Zontibe81Chanastnya43Marynde90Isri34Chamjask73Assastnya25Ardonmol96Lassirrasda85Syally44Baelollodeu94Chadossa56Poshilsa82Yoishirrala98Sundista37Undare39Sondadar26Ilassa51Filurarn35Aerithllora36Marilsa69Tyida79Phaestycal84Irilis75Aeralstical35Aelin32Chanirrala39Chanirra79Assirra56Lassadarsda57Seolollo93Iathem87Iasurriacal29Lisast98Lassimla92Filrion59Yathedeu43Seudaillorap38Quinarap53Halaecal66Hiaral50Iskosian40Ilastilis78Seosrim97Lisosia93Lisim51Farrian71Nitherian58Rithe53Leyirra83Lisosia93Frichossala54Chamjaskya75Silaera56Quanrion96Chadadarla74Sida61Tyaelaelis94Chamimla85Aisurdru79Quanenrian83Undosian34Seosrim97Chanirra64Iral74Marynde90Yadaisuir65Syathecal44Arin32Hada39Maluncil97Aelaria33Assassa81Filrion83Chanastnya43Eoral49Ali84Chanirrala39Airi27Eurisuru25Liawista80Sausosia74Lisirra58Chamadarsda63Haestyphos66Bartassaya73Phaedasurap84Mindimnya67Chadjask85Eustyria89Iskim66Smaistysu35Lirtilsa72Pheosrinudeu70Chamast86Tyialisudeu65Lirtassan78Ethrasyon38Silaera56Quilassa66Lisassasda39Isri34Strithenu87Mindilsa60Lalossa38Chamistast30Hariphos58Assilsan72Inasuir29Chanilsasda38Mindesi74Aiduecal76Caesrinusuir82Ililsan66Idacal95Aeral68Lirtastsda29Idastidru52Tyarithn67Rarallo90Iarilis73Asty82Yalaeria91Lirtossa60Ialallo29Phaestycal84Halaecal66Chadjask77Ealiril69Saistyphos30Undjaskla97Idaidil28Lirtistanya48Quaecjask96Firatan58Mindesi74Lamil79Yarolwen77Tyaelistidru84Yarithrin84Tyaelly53Chanosia60Phiristi62Ililsasya43Aithelis62Undotesta33Aelidru27Chanossanya44Maradarnya40Lirtastsya71Lisast87Lisossa25Chadolyla44Lisilsa62Iasur80Tyidaim51Eusurdeu49Saena89Chanilsast61Ilirrasda54Sundassa93Aidai73Indirrian56Ilarin91Lisista54Lisassasta50Malunil62Iduelis31Yathecal82Chanosiaya39Assylla81Aidaira26Eudanu84Eurithphos97Chamiman85Arin32Leetirraya83Tyialisti80Marundi65Eusur90Mindirranya33Reunasu60Phiallylis33Isty55Frichilsa31Chanastst38Chanista95Aellyria80Siarithria38Rastynusuir31Chanossanya44Iljask75Lisjaskan36Mindjasksya61Frichirranya75Pheosurllorin41Raesty92Ilast79Eratiel90Iral74Tyaelorap29Aithelis62Assim27Asur53Lassilsala30Saedaiphos46Irith83Aelastirin39Ilmol66Assassasta79Ilosian36Lirtosia63Iskossasda43Asur53Hala31Jiskjask80Aethedru70Iral74Yathecal72Sisur91Ennrian78'

In [31]:
# Total Number of Players
total = purchase_data_pd["SN"].sum()
total

'Lisim78Lisovynya38Ithergue48Chamassasya86Iskosia90Yalae81Itheria73Iskjaskst81Undjask33Chanosian48Inguron55Haisrisuir60Saelaephos52Assjaskan73Saesrideu94Lisassa64Lisirra25Zontibe81Reunasu60Chamalo71Iathenudil29Phiarithdeu40Siarithria38Eyrian71Siala43Lisirra87Lirtossa84Eusri44Aela59Tyida79Idai61Farusrian86Aeralria27Haillyrgue51Sondim73Jeyciman68Idaisuir85Seuthep89Reulae52Sondilsaya62Aerithriaphos45Assosia88Aidaillodeu39Aelly27Tyeosri53Haerith37Yasrisu92Chanuchi25Asur96Iaralrgue74Saelaephos52Chanosia34Aelin32Ilosianya35Zhisrisu83Phaelap26Raesty92Palyon91Tyisur83Yaliru88Yadanu52Jiskimya77Yadaphos40Alo38Phaena87Chamirraya83Chanastsda67Lisim78Indonmol95Jiskossa61Pheodai94Hari50Marilsa69Assistasda42Lisosia93Philodil43Mindadaran26Lirtosia63Haillyrgue51Assjaskan56Irithlis29Heudai45Haerithp41Aina42Jiskjask60Umolrian85Qarirwen82Aelin32Laedallo55Eoralrap26Undosian34Chadolyla44Chadistaya75Yathedeu43Aina43Ilassast39Lisassala98Aiduecal76Chadossa89Haisrisuir60Pheodaisun84Heollyriap59Maropast28Frichim77Thryallym62Eulanurin88Lassjaskan73Tyaerith73Sondadarya58Hirirap39Ririp86Sundim98Iskichinya81Phyali88Undirrala66Nitherian58Lassilsala30Frichaststa61Pheodaisun84Frichosia58Lisosia93Ilosia37Lisista27Seudaillorap38Aesty53Yathecal82Frichim77Lisossanya98Iral74Lisast87Maridisya31Jiskassa76Inguron55Phaena87Phyali88Ethriel85Iskirra45Iri67Rarallo90Lisasi93Hari50Zhisrisu83Adastirin33Eyista89Ili43Chamirra53Aidaillodeu39Hailaphos89Iskadarya95Qilatista90Inasti31Marilsanya48Marjask87Chanjaskan89Hyaduesu61Aillyrin83Eyrian71Marast30Sundadar27Tyaelorap29Lirtimst73Iri67Styaduen40Sidap51Chanastst38Lirtassa52Sondim68Aeral97Iskjaskst81Heosurnuru52Lisopela58Caesrinusuir82Tyirinu79Fironon91Lassjask63Indcil77Chamimla73Syathe73Baelollodeu94Mindista32Saena74Marirrasta50Lamil79Aenarap34Aisur51Thrientossa55Chadista79Tyeurith29Malunil62Hiasri33Lisadar44Frichjask31Lisjaskya84Ristydru66Frichast28Minduri31Maradaran90Mindetosya30Chadolyla44Ialallo29Pheusrical25Chanosia60Phistym51Aelollo59Chamimla85Jiskimya77Haisurra41Sondastsda82Qilanrion65Eulasuir89Umolrian85Eosrirgue62Shaidanu32Lirtastan49Iaralsuir44Ialallo29Tyeudariasuir90Cosadar58Aelastirin39Aidai53Jiskjask85Ealrion88Chamjask73Undirrala66Lisosia93Tyaenasti87Alim85Haeladil46Jiskirran77Undosia27Peorith44Yarithsurgue62Sundadar27Taeduenu92Chamimla85Rairin89Aerithriaphos46Idairin51Lisista54Eodailis27Lirtastsda29Undilsan50Eodaisu60Quaranmol58Lirtossa60Lisim78Lirtilsa71Iskadarya95Isursuir31Sundirrala66Saerallora71Iasur80Tyaelo67Aesty53Quanunwen42Sondastsda82Chamirra53Yasur35Assehoan67Haellysu29Saida58Tyeosri53Chamadar79Aeral43Saesrideu94Lirtirra37Siala43Tyidaim51Inasti31Lassassast73Assassasta79Heollyra92Anallorgue57Phyali88Aerithllora36Smaistysu35Tyidaim51Ennalmol65Iskichinya81Yarithrgue83Yana46Sondimla25Aidai61Wailin72Firan91Alaesu91Aellynun67Rilaera56Eulaestira36Marim28Idastidru52Idairin51Lisasi93Lisopela58Ilirrasda54Alaephos75Syalollorap93Heosurnuru52Minduli80Lirtossa84Chanastya70Frichadaran88Siallylis44Aeri84Iasursti71Siallylis44Mindilsa34Chamastya76Undirra73Aestysu37Chadadarla74Anallorgue57Strithenu87Iasrira89Ialidru40Tyisur83Tyalaesu89Tyidainu31Iskadarya95Rarallo90Lirtilsa72Undjaskla97Saedaiphos46Tyisur83Aerithnucal56Hiasri33Lisossa46Layjask75Lisista63Ceoral34Hilaerin92Chadilsasta32Undassa89Iduenu77Lisosia66Undimsya85Phaedue89Yadacal26Lisossa25Ilmol66Yastyriaphos75Hiasurria41Palatyon26Chadilsasta32Qilalista41Hada39Saedaiphos46Chamilsala65Eulaestira36Sundirrala66Rairith81Assistasda42Ilarin91Ryanara76Undista85Tyeoralru41Pheosrinudeu70Heuli25Pheutherin27Chadirra90Ali84Frichjaskan98Malil90Aina42Yarithllodeu72Tyaedainu44Hirirap39Eodailis27Ethron58Heuli25Idai61Eusurdeu49Saistyphos30Aina42Saisrilis27Hallysucal81Ilimya66Raysistast71Haedairiadru51Tyananurgue44Risty84Aerillorin70Phistyn52Yalo85Chamirrasya33Hiral75Isursti83Bartassaya73Aeda94Quinarap53Asur53Alarap40Sida61Hiarideu73Lassassasda30Ennoncil86Siralsudeu54Eusri26Ardcil81Marilsasya33Ilarin91Lirtim36Heunadil74Frichadar89Chamirrasya33Aesurstilis64Idaidil28Idai61Raesty92Lisotesta51Strithenu87Lisico81Lisiriya82Siana77Marokian45Sausosia74Aestysu37Pheodaisun84Marim28Iaralrgue74Assesi91Yadaphos40Eusri70Aisurria69Iarilis73Raisty38Ilista82Leyirra83Aelly27Aiduesu86Frichynde86Aelollo59Hisridru55Chamossa77Irillo49Lirtastsya71Umolrian85Frichosiala98Qilunan34Quarrion42Aisurdru79Hiaral50Zontibe81Iarallo65Sondassasya91Phaelap26Chanossast57Yalae81Chanjask65Ethralista69Sondistanya61Eudanu32Marilsasya33Euthe35Lassimla92Lisossala30Phaena87Eulae84Chamadarnya73Eolan54Assistasda90Ennrian78Undirrasta89Frichadaran88Rianistast50Sondastsda82Undare39Adairialis76Aesur96Tyialisudeu65Arirgue63Sundadarla27Lisopela58Eyircil84Ina92Lirtistanya48Marassa62Mindossa76Sondim68Chanjaskan89Salilis27Sondossa69Sundjask71Saistyphos30Chanosian48Errian63Eurithphos97Raillydeu47Malon70Jiskimsda56Idastidru52Marughi89Ingatcil75Chanirrasta87Alaesu77Ermol76Tyeuduen32Yadacal26Firon67Iadueria43Pheulidil31Eodairu79Frichocesta66Iaralsuir44Chamilsala65Thourdirra92Chadista79Chanastnya43Iskim96Inguron55Eulolis41Lassilsala30Sastydeu50Ilaesudil92Yasur85Haillyrgue51Aidain51Aerithnuphos61Yalostiphos68Eusri70Chamjask73Phistym51Meosridil82Aillyriadru65Sally64Lirtimst73Ilosia37Lisim51Isurria36Silaera56Leetirraya83Lirtirra81Eryon48Hada39Iana95Siralsudeu54Siallylis44Sondassan80Chanadar44Eosurdru76Shidai42Aesri53Syally44Idastidru52Ardcil81Jiskadarst60Sondadar26Malarrian73Yathecal82Maluncil97Ilunyon70Iri67Hiaral50Yadam35Dyally87Pheosurllorin41Frichocesta66Frichaya88Lassadarsda57Iasrira89Zontibe81Chanastnya43Marynde90Isri34Chamjask73Assastnya25Ardonmol96Lassirrasda85Syally44Baelollodeu94Chadossa56Poshilsa82Yoishirrala98Sundista37Undare39Sondadar26Ilassa51Filurarn35Aerithllora36Marilsa69Tyida79Phaestycal84Irilis75Aeralstical35Aelin32Chanirrala39Chanirra79Assirra56Lassadarsda57Seolollo93Iathem87Iasurriacal29Lisast98Lassimla92Filrion59Yathedeu43Seudaillorap38Quinarap53Halaecal66Hiaral50Iskosian40Ilastilis78Seosrim97Lisosia93Lisim51Farrian71Nitherian58Rithe53Leyirra83Lisosia93Frichossala54Chamjaskya75Silaera56Quanrion96Chadadarla74Sida61Tyaelaelis94Chamimla85Aisurdru79Quanenrian83Undosian34Seosrim97Chanirra64Iral74Marynde90Yadaisuir65Syathecal44Arin32Hada39Maluncil97Aelaria33Assassa81Filrion83Chanastnya43Eoral49Ali84Chanirrala39Airi27Eurisuru25Liawista80Sausosia74Lisirra58Chamadarsda63Haestyphos66Bartassaya73Phaedasurap84Mindimnya67Chadjask85Eustyria89Iskim66Smaistysu35Lirtilsa72Pheosrinudeu70Chamast86Tyialisudeu65Lirtassan78Ethrasyon38Silaera56Quilassa66Lisassasda39Isri34Strithenu87Mindilsa60Lalossa38Chamistast30Hariphos58Assilsan72Inasuir29Chanilsasda38Mindesi74Aiduecal76Caesrinusuir82Ililsan66Idacal95Aeral68Lirtastsda29Idastidru52Tyarithn67Rarallo90Iarilis73Asty82Yalaeria91Lirtossa60Ialallo29Phaestycal84Halaecal66Chadjask77Ealiril69Saistyphos30Undjaskla97Idaidil28Lirtistanya48Quaecjask96Firatan58Mindesi74Lamil79Yarolwen77Tyaelistidru84Yarithrin84Tyaelly53Chanosia60Phiristi62Ililsasya43Aithelis62Undotesta33Aelidru27Chanossanya44Maradarnya40Lirtastsya71Lisast87Lisossa25Chadolyla44Lisilsa62Iasur80Tyidaim51Eusurdeu49Saena89Chanilsast61Ilirrasda54Sundassa93Aidai73Indirrian56Ilarin91Lisista54Lisassasta50Malunil62Iduelis31Yathecal82Chanosiaya39Assylla81Aidaira26Eudanu84Eurithphos97Chamiman85Arin32Leetirraya83Tyialisti80Marundi65Eusur90Mindirranya33Reunasu60Phiallylis33Isty55Frichilsa31Chanastst38Chanista95Aellyria80Siarithria38Rastynusuir31Chanossanya44Iljask75Lisjaskan36Mindjasksya61Frichirranya75Pheosurllorin41Raesty92Ilast79Eratiel90Iral74Tyaelorap29Aithelis62Assim27Asur53Lassilsala30Saedaiphos46Irith83Aelastirin39Ilmol66Assassasta79Ilosian36Lirtosia63Iskossasda43Asur53Hala31Jiskjask80Aethedru70Iral74Yathecal72Sisur91Ennrian78'

In [31]:
# Total Number of Players
total = purchase_data_pd["SN"].sum()
total

'Lisim78Lisovynya38Ithergue48Chamassasya86Iskosia90Yalae81Itheria73Iskjaskst81Undjask33Chanosian48Inguron55Haisrisuir60Saelaephos52Assjaskan73Saesrideu94Lisassa64Lisirra25Zontibe81Reunasu60Chamalo71Iathenudil29Phiarithdeu40Siarithria38Eyrian71Siala43Lisirra87Lirtossa84Eusri44Aela59Tyida79Idai61Farusrian86Aeralria27Haillyrgue51Sondim73Jeyciman68Idaisuir85Seuthep89Reulae52Sondilsaya62Aerithriaphos45Assosia88Aidaillodeu39Aelly27Tyeosri53Haerith37Yasrisu92Chanuchi25Asur96Iaralrgue74Saelaephos52Chanosia34Aelin32Ilosianya35Zhisrisu83Phaelap26Raesty92Palyon91Tyisur83Yaliru88Yadanu52Jiskimya77Yadaphos40Alo38Phaena87Chamirraya83Chanastsda67Lisim78Indonmol95Jiskossa61Pheodai94Hari50Marilsa69Assistasda42Lisosia93Philodil43Mindadaran26Lirtosia63Haillyrgue51Assjaskan56Irithlis29Heudai45Haerithp41Aina42Jiskjask60Umolrian85Qarirwen82Aelin32Laedallo55Eoralrap26Undosian34Chadolyla44Chadistaya75Yathedeu43Aina43Ilassast39Lisassala98Aiduecal76Chadossa89Haisrisuir60Pheodaisun84Heollyriap59Maropast28Frichim77Thryallym62Eulanurin88Lassjaskan73Tyaerith73Sondadarya58Hirirap39Ririp86Sundim98Iskichinya81Phyali88Undirrala66Nitherian58Lassilsala30Frichaststa61Pheodaisun84Frichosia58Lisosia93Ilosia37Lisista27Seudaillorap38Aesty53Yathecal82Frichim77Lisossanya98Iral74Lisast87Maridisya31Jiskassa76Inguron55Phaena87Phyali88Ethriel85Iskirra45Iri67Rarallo90Lisasi93Hari50Zhisrisu83Adastirin33Eyista89Ili43Chamirra53Aidaillodeu39Hailaphos89Iskadarya95Qilatista90Inasti31Marilsanya48Marjask87Chanjaskan89Hyaduesu61Aillyrin83Eyrian71Marast30Sundadar27Tyaelorap29Lirtimst73Iri67Styaduen40Sidap51Chanastst38Lirtassa52Sondim68Aeral97Iskjaskst81Heosurnuru52Lisopela58Caesrinusuir82Tyirinu79Fironon91Lassjask63Indcil77Chamimla73Syathe73Baelollodeu94Mindista32Saena74Marirrasta50Lamil79Aenarap34Aisur51Thrientossa55Chadista79Tyeurith29Malunil62Hiasri33Lisadar44Frichjask31Lisjaskya84Ristydru66Frichast28Minduri31Maradaran90Mindetosya30Chadolyla44Ialallo29Pheusrical25Chanosia60Phistym51Aelollo59Chamimla85Jiskimya77Haisurra41Sondastsda82Qilanrion65Eulasuir89Umolrian85Eosrirgue62Shaidanu32Lirtastan49Iaralsuir44Ialallo29Tyeudariasuir90Cosadar58Aelastirin39Aidai53Jiskjask85Ealrion88Chamjask73Undirrala66Lisosia93Tyaenasti87Alim85Haeladil46Jiskirran77Undosia27Peorith44Yarithsurgue62Sundadar27Taeduenu92Chamimla85Rairin89Aerithriaphos46Idairin51Lisista54Eodailis27Lirtastsda29Undilsan50Eodaisu60Quaranmol58Lirtossa60Lisim78Lirtilsa71Iskadarya95Isursuir31Sundirrala66Saerallora71Iasur80Tyaelo67Aesty53Quanunwen42Sondastsda82Chamirra53Yasur35Assehoan67Haellysu29Saida58Tyeosri53Chamadar79Aeral43Saesrideu94Lirtirra37Siala43Tyidaim51Inasti31Lassassast73Assassasta79Heollyra92Anallorgue57Phyali88Aerithllora36Smaistysu35Tyidaim51Ennalmol65Iskichinya81Yarithrgue83Yana46Sondimla25Aidai61Wailin72Firan91Alaesu91Aellynun67Rilaera56Eulaestira36Marim28Idastidru52Idairin51Lisasi93Lisopela58Ilirrasda54Alaephos75Syalollorap93Heosurnuru52Minduli80Lirtossa84Chanastya70Frichadaran88Siallylis44Aeri84Iasursti71Siallylis44Mindilsa34Chamastya76Undirra73Aestysu37Chadadarla74Anallorgue57Strithenu87Iasrira89Ialidru40Tyisur83Tyalaesu89Tyidainu31Iskadarya95Rarallo90Lirtilsa72Undjaskla97Saedaiphos46Tyisur83Aerithnucal56Hiasri33Lisossa46Layjask75Lisista63Ceoral34Hilaerin92Chadilsasta32Undassa89Iduenu77Lisosia66Undimsya85Phaedue89Yadacal26Lisossa25Ilmol66Yastyriaphos75Hiasurria41Palatyon26Chadilsasta32Qilalista41Hada39Saedaiphos46Chamilsala65Eulaestira36Sundirrala66Rairith81Assistasda42Ilarin91Ryanara76Undista85Tyeoralru41Pheosrinudeu70Heuli25Pheutherin27Chadirra90Ali84Frichjaskan98Malil90Aina42Yarithllodeu72Tyaedainu44Hirirap39Eodailis27Ethron58Heuli25Idai61Eusurdeu49Saistyphos30Aina42Saisrilis27Hallysucal81Ilimya66Raysistast71Haedairiadru51Tyananurgue44Risty84Aerillorin70Phistyn52Yalo85Chamirrasya33Hiral75Isursti83Bartassaya73Aeda94Quinarap53Asur53Alarap40Sida61Hiarideu73Lassassasda30Ennoncil86Siralsudeu54Eusri26Ardcil81Marilsasya33Ilarin91Lirtim36Heunadil74Frichadar89Chamirrasya33Aesurstilis64Idaidil28Idai61Raesty92Lisotesta51Strithenu87Lisico81Lisiriya82Siana77Marokian45Sausosia74Aestysu37Pheodaisun84Marim28Iaralrgue74Assesi91Yadaphos40Eusri70Aisurria69Iarilis73Raisty38Ilista82Leyirra83Aelly27Aiduesu86Frichynde86Aelollo59Hisridru55Chamossa77Irillo49Lirtastsya71Umolrian85Frichosiala98Qilunan34Quarrion42Aisurdru79Hiaral50Zontibe81Iarallo65Sondassasya91Phaelap26Chanossast57Yalae81Chanjask65Ethralista69Sondistanya61Eudanu32Marilsasya33Euthe35Lassimla92Lisossala30Phaena87Eulae84Chamadarnya73Eolan54Assistasda90Ennrian78Undirrasta89Frichadaran88Rianistast50Sondastsda82Undare39Adairialis76Aesur96Tyialisudeu65Arirgue63Sundadarla27Lisopela58Eyircil84Ina92Lirtistanya48Marassa62Mindossa76Sondim68Chanjaskan89Salilis27Sondossa69Sundjask71Saistyphos30Chanosian48Errian63Eurithphos97Raillydeu47Malon70Jiskimsda56Idastidru52Marughi89Ingatcil75Chanirrasta87Alaesu77Ermol76Tyeuduen32Yadacal26Firon67Iadueria43Pheulidil31Eodairu79Frichocesta66Iaralsuir44Chamilsala65Thourdirra92Chadista79Chanastnya43Iskim96Inguron55Eulolis41Lassilsala30Sastydeu50Ilaesudil92Yasur85Haillyrgue51Aidain51Aerithnuphos61Yalostiphos68Eusri70Chamjask73Phistym51Meosridil82Aillyriadru65Sally64Lirtimst73Ilosia37Lisim51Isurria36Silaera56Leetirraya83Lirtirra81Eryon48Hada39Iana95Siralsudeu54Siallylis44Sondassan80Chanadar44Eosurdru76Shidai42Aesri53Syally44Idastidru52Ardcil81Jiskadarst60Sondadar26Malarrian73Yathecal82Maluncil97Ilunyon70Iri67Hiaral50Yadam35Dyally87Pheosurllorin41Frichocesta66Frichaya88Lassadarsda57Iasrira89Zontibe81Chanastnya43Marynde90Isri34Chamjask73Assastnya25Ardonmol96Lassirrasda85Syally44Baelollodeu94Chadossa56Poshilsa82Yoishirrala98Sundista37Undare39Sondadar26Ilassa51Filurarn35Aerithllora36Marilsa69Tyida79Phaestycal84Irilis75Aeralstical35Aelin32Chanirrala39Chanirra79Assirra56Lassadarsda57Seolollo93Iathem87Iasurriacal29Lisast98Lassimla92Filrion59Yathedeu43Seudaillorap38Quinarap53Halaecal66Hiaral50Iskosian40Ilastilis78Seosrim97Lisosia93Lisim51Farrian71Nitherian58Rithe53Leyirra83Lisosia93Frichossala54Chamjaskya75Silaera56Quanrion96Chadadarla74Sida61Tyaelaelis94Chamimla85Aisurdru79Quanenrian83Undosian34Seosrim97Chanirra64Iral74Marynde90Yadaisuir65Syathecal44Arin32Hada39Maluncil97Aelaria33Assassa81Filrion83Chanastnya43Eoral49Ali84Chanirrala39Airi27Eurisuru25Liawista80Sausosia74Lisirra58Chamadarsda63Haestyphos66Bartassaya73Phaedasurap84Mindimnya67Chadjask85Eustyria89Iskim66Smaistysu35Lirtilsa72Pheosrinudeu70Chamast86Tyialisudeu65Lirtassan78Ethrasyon38Silaera56Quilassa66Lisassasda39Isri34Strithenu87Mindilsa60Lalossa38Chamistast30Hariphos58Assilsan72Inasuir29Chanilsasda38Mindesi74Aiduecal76Caesrinusuir82Ililsan66Idacal95Aeral68Lirtastsda29Idastidru52Tyarithn67Rarallo90Iarilis73Asty82Yalaeria91Lirtossa60Ialallo29Phaestycal84Halaecal66Chadjask77Ealiril69Saistyphos30Undjaskla97Idaidil28Lirtistanya48Quaecjask96Firatan58Mindesi74Lamil79Yarolwen77Tyaelistidru84Yarithrin84Tyaelly53Chanosia60Phiristi62Ililsasya43Aithelis62Undotesta33Aelidru27Chanossanya44Maradarnya40Lirtastsya71Lisast87Lisossa25Chadolyla44Lisilsa62Iasur80Tyidaim51Eusurdeu49Saena89Chanilsast61Ilirrasda54Sundassa93Aidai73Indirrian56Ilarin91Lisista54Lisassasta50Malunil62Iduelis31Yathecal82Chanosiaya39Assylla81Aidaira26Eudanu84Eurithphos97Chamiman85Arin32Leetirraya83Tyialisti80Marundi65Eusur90Mindirranya33Reunasu60Phiallylis33Isty55Frichilsa31Chanastst38Chanista95Aellyria80Siarithria38Rastynusuir31Chanossanya44Iljask75Lisjaskan36Mindjasksya61Frichirranya75Pheosurllorin41Raesty92Ilast79Eratiel90Iral74Tyaelorap29Aithelis62Assim27Asur53Lassilsala30Saedaiphos46Irith83Aelastirin39Ilmol66Assassasta79Ilosian36Lirtosia63Iskossasda43Asur53Hala31Jiskjask80Aethedru70Iral74Yathecal72Sisur91Ennrian78'

In [25]:
purchase_data["SN"].count.head

AttributeError: 'function' object has no attribute 'head'

## Player Count

* Display the total number of players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80